.photo-grid {
    font-family: "Inter", Arial, sans-serif;
    width: 92.5%;
    margin: 0 auto;
  }

@media (max-width: 1024px) {
  .photo-grid{
    width: 90.625%;
  } 
}

@media (max-width: 1024px) {
  .photo-grid {
    width: 93.75%;
  }
}

@media (max-width: 320px) {
  .photo-grid {
    width: 90%;
  }
}