.places {
    font-family: "Inter", Arial, sans-serif;
    display: flex;
    flex-flow: column nowrap;
    gap: 80px;
    margin: 92px 0;
  }
  
@media (max-width: 1024px)  {
  .places {
    margin-top: 88px;
    margin-bottom: 88px;
    gap: 73px;
  }
}

@media (max-width: 320px) {
  .places {
    margin-top: 64px;
    margin-bottom: 64px;
    gap: 50px;
  }
}