.place__paragraphs {
    display: flex;
    flex-flow: column nowrap;
    gap: 26px;
    grid-area: paragraphs;
  }
  
@media (max-width: 768px) {
  .place__paragraphs {
    gap: 25px;
  }
}

@media (max-width: 320px) {
  .place__paragraphs {
    width: 90%;
    order: 2;
  }
}