.lead__image {
    width: 76.875%;
    aspect-ratio: 16 / 9;
    margin: 0 auto;
    display: block;
  }
  
  @media (max-width: 1280px) {
    .lead__image {
      width: 90.625%;
    }
  }
  
  @media (max-width: 768px) {
    .lead__image {
      width: 100%;
    }
  }