@import url(../vendor/normilize.css);
@import url(../vendor/fonts/fonts.css);

.page {
    font-family: "Inter", Arial, sans-serif;
    background-color: #2a2c2f;
    margin: 0 auto;
    padding: 0;
    color: #fff;
    width: 100%;
    /* display: flex;
    flex-flow: column nowrap;
    align-items: center; */
}
/* header */
.header {
    width: 92.5%;
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 28px;
    margin: 0 auto 56px auto;
}

.header__logo {
  width: 176px;
  height: 52px;
}

@media (max-width: 768px) {
  .header__logo {
    width: 142px;
    height: 42px;
  }
}

.header__lang-links {
  display: flex;
  gap: 18px;
}

.header__lang-link {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
}

.header__lang-link_active {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .header__lang-link {
    line-height: 20px;
    font-size: 18px;
  }
}

/* lead */
.lead {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.lead__title {
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  max-width: 720px;
  margin: 0 0 32px 0;
}

@media (max-width: 768px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    text-align: center;
    max-width: 288px;
  }
}

.lead__subtitle {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  margin: 0 0 64px 0;
  max-width: 640px;
  text-align: center;
}

@media (max-width: 768px) {
  .lead__subtitle {
    font-size: 16px;
    max-width: 288px;
    line-height: 20px;
  }
}

.lead__image-container {
  margin: 0 auto;
  width: 100%;
}

.lead__image {
  /* width: 984px;
  height: 615px; */
  width: 76.875%;
  aspect-ratio: 16 / 9;
  margin: 0 auto;
  display: block;
}

@media (max-width: 1280px) {
  .lead__image {
    width: 90.625%;
  }
}

@media (max-width: 768px) {
  .lead__image {
    width: 100%;
  }
}

.lead__caption {
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin: 8px auto 0 auto;
  width: 76.875%;
}

@media (max-width: 1280px) {
  .lead__caption {
    width: 90.625%;
  }
}

@media (max-width: 768px) {
  .lead__caption {
    width: 100%;
  }
}

/* intro */
.intro {
  width: 76.875%;
  display: flex;
  flex-flow: column nowrap;
  margin: 92px auto;
}

@media (max-width: 1280px) {
  .intro {
    width: 90.625%;
    margin: 88px auto;
  }
}

@media (max-width: 768px) {
  .intro {
    width: 91%;
    margin: 64px auto;
  }
}

.intro__title {
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  margin: 0 0 40px 0;
  max-width: 100%;
}

@media (max-width: 768px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}

.intro__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  max-width: 690px;
  margin: 0 0 33px 0;
  max-width: 100%;
}

@media (max-width: 768px) {
  .intro__text {
    font-size: 16px;
    line-height: 26px;
  }
}

.intro__list {
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

@media (max-width: 768px) {
  .intro__list {
    font-size: 12px;
    line-height: 18px;
  }
}

.intro__list-el {
  font-size: 12px;
  font-weight: 900;
  line-height: 18px;
}

.intro__values {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.photo-grid {
  width: 92.5%;
  margin: 0 auto;
}

.photo-grid__container {
  list-style: none;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 0;
  margin: 0;
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .photo-grid__container {
    gap: 14px;
  }
}

@media (max-width: 768px) {
  .photo-grid__container {
    gap: 12px;
  }
}

.photo-grid__item {
  width: 100%;
  height: 100%;
}

/* начало карточек */

.places {
  display: flex;
  flex-flow: column nowrap;
  gap: 80px;
  margin: 92px 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .places {
    gap: 73px;
  }
}

@media (max-width: 768px) {
  .places {
    gap: 50px;
    margin: 65px 0;
  }
}

.place {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content min-content;
  gap: 48px 40px;
  max-width: 76.875%;
  margin: 0 auto;
  align-items: start;
  grid-template-areas: 
  "title url"
  "image paragraphs";
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .place {
    gap: 48px 32px;
    max-width: 90.625%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .place {
    gap: 48px 28px;
    max-width: 93.75%;
  }
}

@media (max-width: 768px) {
  .place {
    max-width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 32px;
  }
}

.place__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  grid-area: title;
  align-self: end;
  max-width: 100%;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}

@media (max-width: 768px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    width: 90%;
    align-self: center;
  }
}

.place__image {
  width: 100%;
  aspect-ratio: 1 / 1;
  grid-area: image;
}

@media (max-width: 768px) {
  .place__image {
    align-self: center;
    order: 1;
  }
}

.place__website {
  display: flex;
  flex-flow: column nowrap;
  gap: 12px;
  grid-area: url;
  align-self: end;
}

@media (max-width: 768px) {
  .place__website {
    width: 90%;
    align-self: center;
  }
}

.place__url-heading {
  line-height: 12px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #aaa;
  margin: 0;
}

.place__link {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-decoration-line: underline;
  color: #fff;
  justify-self: end;
}

.place__paragraphs {
  display: flex;
  flex-flow: column nowrap;
  gap: 26px;
  grid-area: paragraphs;
}

@media (max-width: 768px) {
  .place__paragraphs {
    align-items: center;
    order: 2;
  }
}

.place__paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  max-width: 484px;
  margin: 0;
}

@media (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
    max-width: 90%;
  }
}

.cover {
  width: 92.5%;
  aspect-ratio: 16 / 9;
  position: relative;
  margin: 0 auto 92px auto;
  background-image: url(../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 32px;
  box-sizing: border-box;
  padding: 50px;
}

@media (max-width: 1024px) {
  .cover {
    width: 100%;
    gap: 16px;
  }
}

@media (max-width: 768px) {
  .cover {
    margin-bottom: 88px;
  }
}

@media (max-width: 320px) {
  .cover {
    margin-bottom: 64px;
  }
}

.cover__title {
  font-weight: 900;
  line-height: 76px;
  font-size: 72px;
  text-align: center;
  margin: 0;
  max-width: 560px;
  z-index: 1;
}

@media (max-width: 768px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 320px;
  }
}

.cover__subtitle {
  font-weight: 400;
  line-height: 22px;
  font-size: 18px;
  text-align: center;
  margin: 0;
  max-width: 360px;
  z-index: 1;
}

@media (max-width: 768px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    max-width: 320px;
  }
}

.cover__overlay {
  width: 100%;
  height: 100%;
  background-color: #2A2C2F;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease;
}

.footer {
  width: 92.5%;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding-bottom: 24px;
}

@media (max-width: 768px) {
  .footer {
    flex-flow: column nowrap;
    justify-content: none;
    gap: 48px;
  }
}

.footer__links-container {
  display: flex;
  flex-flow: row nowrap;
  gap: 18px;
}

@media (max-width: 768px) {
  .footer__links-container {
    flex-flow: column nowrap;
    gap: 32px;
  }
}

.footer__link {
  font-weight: 400;
  line-height: 18px;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

@media (max-width: 768px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }
}

.footer__copyright {
  font-weight: 400;
  line-height: 16px;
  font-size: 14px;
  margin: 0;
}

@media (max-width: 768px) {
  .footer__copyright {
    line-height: 14px;
  }
}

.link-opacity {
  transition: opacity 0.3s ease;
}

.link-opacity:hover {
  opacity: 0.8;
}

.cover__overlay:hover {
  opacity: 0.8;
}