.lead__caption {
    font-size: 10px;
    line-height: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin: 8px auto 0 auto;
    width: 76.875%;
  }
  
@media (max-width: 1024px) {
  .lead__caption {
    width: 90.625%;
  }
}

  @media (max-width: 768px) {
    .lead__caption {
      width: calc(100% - 16px);
      margin-left: 16px;
    }
  }